Q1. write a codde to reverse a string.

In [ ]:
 a = "pwskills"
 a[::-1]

'sllikswp'

Q2.write a code to count the number of wvowels in a string.

In [ ]:
 string = "swapnil"
 v = "aeiouAEIOU"
 count = sum(string.count(vowel) for vowel in v)
 print(count)

2

Q3.write a code to check if a given string is a palindrome or not.

In [ ]:
 def is_palindrome(string):

 # string = string.lower()
  return string == string[::-1]


 string = "racecar"
 if is_palindrome(string):
  print(f"{string} is a palindrome.")
 else:
  print(f"{string} is not a palindrome.")

racecar is a palindrome.

In [ ]:
is_palindrome("RACECAR")

True

Q4.write a code to check if two given strings are anagrams of each other.

In [ ]:
def are_anagrams(str1, str2):

  str1 = str1.lower()
  str2 = str2.lower()
  if len(str1) == len (str2):
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)
    if sorted_str1 == sorted_str2:
       return  str1 + "and " + str2 + "are anagrams"
    else:
          str1 + "and " + str2 + "are not anagrams"

print (are_anagrams("listen", "silent"))

listenand silentare anagrams

Q5. write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_all_occurrences(string, substring):
  indices = []
  start = 0
  while True:
    index = string.find(substring, start)
    if index == -1:
      break
    indices.append(index)
    start = index + 1
  return indices

string = "This is a test string. This string contains the word 'test' multiple times."
substring = "test"
occurrences = find_all_occurrences(string, substring)
print(f"Occurrences of '{substring}' in the string: {occurrences}")

Occurrences of 'test' in the string: [10, 54]

Q6.write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compressed_string(string):
  string = ""
  count = 1
  for i in range(1, len(string)):
    if string[i] == string[i-1]:
      count += 1
    else:
      compressed_string += string[i-1] + str(count)
      count = 1
  compressed_string += string[-1] + str(count)
  return compressed_string

  string = "aabcccccaaa"
  compressed_string = compressed_string(string)
  print(f"Compressed string: {compressed_string}")

Q7. write a code to determine if a string  has all unique characters.

In [ ]:

def has_unique_characters(string):
  char_set = set()
  for char in string:
    if char in char_set:
      return False
    char_set.add(char)
  return True

In [ ]:
has_unique_characters("swapnil")

True

Q8.write a code to convert a given string to uppercase or lowercase.

In [ ]:

def convert_case(string, to_uppercase=True):
  if to_uppercase:
    return string.upper()
  else:
    return string.lower()

In [ ]:
convert_case("SWAPNIL")

'SWAPNIL'

Q9. write a code to count the number of words in a string.

In [ ]:
def count_words(string):
  words = string.split()
  return len(words)

In [ ]:
count_words("this is a string")

4

Q10.write a code to concatenate two strings without using the + operator.

In [ ]:

def concatenate_strings(string1, string2):
  result = ""
  for char in string1:
    result += char
  for char in string2:
    result += char
  return result

In [ ]:
concatenate_strings("swapnil", "patil")

'swapnilpatil'

Q11.write a code to remove all occurrences of a specific element from a list.

In [ ]:

def remove_element(lst, element):
  while element in lst:
    lst.remove(element)
  return lst


  lst = [1, 2, 3, 2, 4, 2, 5]
  element = 2
  lst = remove_element(lst, element)
  print(f"List after removing {element}: {lst}")

In [ ]:
remove_element([1, 2, 3, 2, 4, 2, 5], 2)

[1, 3, 4, 5]

Q12.implement  a code to find the second largest number in a given list of integers.

In [ ]:
def second_largest(nums):
  if len(nums) < 2:
    return "List needs at least two numbers."

    find_second_largest = max(nums[0], nums[1])
    second_largest = min(nums[0], nums[1])
    for i in range(2, len(nums)):
      if nums[i] > find_second_largest:
        second_largest = find_second_largest
        find_second_largest = nums[i]
      elif nums[i] > second_largest and nums[i] != find_second_largest:
       second_largest = nums[i]
    return second_largest


    nums = [10, 5, 8, 20, 15]
  second_largest = second_largest(nums)
  print(f"The second largest number is: {second_largest}")

Q13.create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:


def count_occurrences(lst):
  counts = {}
  for element in lst:
    if element in counts:
      counts[element] += 1
    else:
      counts[element] = 1
  return counts


my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
result = count_occurrences(my_list)
print(result)

{1: 1, 2: 2, 3: 3, 4: 4}

Q14.write a code to reverse a list in-place without using any built-in reverse functios.

In [ ]:
def reversed_list(lst):
  start = 0
  end = len(lst) - 1
  while start < end:
    lst[start], lst[end] = lst[end], lst[start]

    start += 1
    end -= 1
  return lst
  my_list = [1, 2, 3, 4, 5]
  reversed_list = reversed_list(my_list)
  print(reversed_list)

In [ ]:
a = [ 1, 2, 3, 4, 5]
reversed_list(a)

[5, 4, 3, 2, 1]

Q15.implement  a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates_preserve_order(lst):
  unique_elements = []
  seen = set()
  for element in lst:
    if element not in seen:
      unique_elements.append(element)
      seen.add(element)
  return unique_elements
  my_list = [1, 2, 2, 3, 4, 4, 5]
  result = remove_duplicates_preserve_order(my_list)
  print(result)

In [ ]:
a =[ 1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
remove_duplicates_preserve_order(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Q16.create a code to check if a given list is sorted (either in ascending or decending order) or not.

In [ ]:
def is_sorted(lst):
  ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
  descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
  return ascending or descending


my_list = [5, 4, 3, 2, 1]
if is_sorted(my_list):
  print("The list is sorted.")
else:
  print("The list is not sorted.")

The list is sorted.

Q17.write a code to merge  two sorted lists into single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
  merged_list = []
  i = j = 0
  while i < len(list1) and j < len(list2):
    if list1[i] <= list2[j]:
      merged_list.append(list1[i])
      i += 1
    else:
      merged_list.append(list2[j])
      j += 1
  merged_list.extend(list1[i:])
  merged_list.extend(list2[j:])
  return merged_list
  list1 = [1, 3, 5, 7]
  list2 = [2, 4, 6, 8]
  merged_list = merge_sorted_lists(list1, list2)
  print(merged_list)

In [ ]:
merge_sorted_lists([1, 3, 5, 7], [2, 4, 6, 8])

[1, 2, 3, 4, 5, 6, 7, 8]

Q18.implement  a code to find the intersection of two given lists.

In [ ]:
def find_inter(list1,list2):
  return list(set(list1) & set(list2))

In [ ]:
a = [12,45,75,66,56,65,56,6]
b = [12,5,88,55,47,88,55,4]
find_inter(a,b)

[12]

Q19.create a code to find the union of twolists without duplicates.

In [ ]:
def find_union(list1,list2):
  return list(set(list1) | set(list2))

In [ ]:
a = [12,45,75,66,56,65,56,6]
b = [12,5,88,55,47,88,55,4]
find_union(a,b)

[65, 66, 4, 5, 6, 75, 12, 45, 47, 55, 56, 88]

Q20.write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
a = [12,45,75,66,56,65,56,6]
import random
def shuffle_list(lst):
  for i in range(len(lst) - 1, 0, -1):
    j =  random.randint(0, i)
    lst[i], lst[j] = lst[j], lst[i]
  return lst

In [ ]:
a = [12,45,75,66,56,65,56,6]
shuffle_list(a)

[75, 65, 56, 56, 12, 66, 45, 6]

Q21.write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def comman_tuple(tuple1, tuple2):
  return tuple(set(tuple1) & set(tuple2))

In [ ]:
a = (12,45,75,66,56,65,56,6)
b = (12,5,88,55,47,88,55,4)
comman_tuple(a,b)

(12,)

Q22.create a code that prompts the user to enter two sets of integers separaed by commas.then, print the intersection of these two sets.

In [ ]:
def find_inter(list1,list2):
 set1 = input("Enter the first set of integers separated by commas: ")
 set2 = input("Enter the second set of integers separated by commas: ")
 set1 = set(map(int, set1.split(",")))
 set2 = set(map(int, set2.split(",")))
 intersection = set1.intersection(set2)
 print("Intersection of the two sets:", intersection)

In [ ]:
find_inter([],[])

Enter the first set of integers separated by commas: 1,2,3,4,5,6
Enter the second set of integers separated by commas: 4,5,6,7,8,9
Intersection of the two sets: {4, 5, 6}

Q23.write a code to concatenate two tuples.the function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
  return tuple1 + tuple2

In [ ]:
a = (12,45,75,66,56,65,56,6)
b = (12,5,88,55,47,88,55,4)
concatenate_tuples(a,b)

(12, 45, 75, 66, 56, 65, 56, 6, 12, 5, 88, 55, 47, 88, 55, 4)

Q24. develop a code that prompts the user to input two sets of strings. then, print the elements that are present in the first set but not in the second set.

In [ ]:
def find_difference(set1, set2):
  set1 = input("Enter the first set of strings separated by commas: ")
  set2 = input("Enter the second set of strings separated by commas: ")
  set1 = set(set1.split(","))
  set2 = set(set2.split(","))
  return set1 - set2
  print("Elements in the first set but not in the second set:", difference)

Q25.create a code that takes a tuple and two integrs as input. the function should return a new tuple containing element from the original tuple within the specified range of indices.

In [2]:
def get_elements_in_range(tuple_input, start_index, end_index):

  if start_index < 0 or end_index >= len(tuple_input):
    return "Invalid indices."
  return tuple_input[start_index:end_index + 1]
my_tuple = (1, 2, 3, 4, 5)
start_index = 1
end_index = 3
result = get_elements_in_range(my_tuple, start_index, end_index)
print(result)

(2, 3, 4)

Q26.write a code that prompts the user to input two sets of characters. then,print the union of these two sets.

In [6]:
def find_union():
  set1 = input("Enter the first set of characters: ")
  set2 = input("Enter the second set of characters: ")
  set1 = set(set1)
  set2 = set(set2)
  union = set1.union(set2)
  print("Union of the two sets:", union)

find_union()

Enter the first set of characters: "apple,banana,pineapple,kiwi"
Enter the second set of characters: "apple,banana,pineapple,jinger"
Union of the two sets: {'k', 'a', ',', 'p', 'l', 'g', 'n', 'e', 'i', 'w', 'r', '"', 'j', 'b'}

Q27.develop a code that takes a tuple of integers as input. the function should return the maximum and minimum values from the tuple using tuple unpacking.

In [9]:
def find_max_min(tuple_input):
  if not tuple_input:
    return "Empty tuple."
  maximum = max(tuple_input)
  minimum = min(tuple_input)
  return maximum, minimum

  #for example
  my_tuple = (1, 2, 3, 4, 5)
  maximum, minimum = find_max_min(my_tuple)
  print("Maximum value:", maximum)
  print("Minimum value:", minimum)

In [10]:
find_max_min((1, 2, 3, 4, 5))

(5, 1)

Q28.create a code that defines two sets of integers , then print the union, intersection, and difference of these two sets.

In [15]:
# prompt: create a code that defines two sets of integers, then print the union, intersection, and difference of these two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union = set1 | set2
print("Union:", union)
intersection = set1 & set2
print("Intersection:", intersection)
difference = set1 - set2
print("Difference (set1 - set2):", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

Q29.write a code that takes a tupel and an element as input. the function should return the count of occurrences of the given element in the tuple.

In [16]:
def count_occurrences(tuple_input, element):
  count = tuple_input.count(element)
  return count

In [17]:
tuple1 = (1, 2, 3, 4, 5, 2, 3,2)
count_occurrences(tuple1, 2)

3

Q30.develop a code that prompt the user to input two sets of strings. then. print the symmetric difference  of these two sets.

In [18]:
def find_symmetric_difference(set1,set2):
  set1 = input("Enter the first set of strings separated by commas: ")
  set2 = input("Enter the second set of strings separated by commas: ")
  set1 = set(set1.split(","))
  set2 = set(set2.split(","))
  return set1 ^ set2
  print("Symmetric difference of the two sets:", symmetric_difference)

In [20]:
find_symmetric_difference({},{})

Enter the first set of strings separated by commas: "apple,pineapple,banana"
Enter the second set of strings separated by commas: "apple ,chilli,tomato"

{'"apple', '"apple ', 'banana"', 'chilli', 'pineapple', 'tomato"'}

Q31.write a code that takes  a list of words as input and returns a dictionary where the keys are unique words and the values are the frequemcies of those words in the input list.

In [24]:
def word_frequency(words):
  frequency = {}
  for word in words:
    if word in frequency:
      frequency[word] += 1
    else:
      frequency[word] = 1
  return frequency

In [25]:
word_frequency(["swapnil", "patil", "swapnil", "patil"])

{'swapnil': 2, 'patil': 2}

Q32.write  a code that takes two dictionaries as input and meerges them into a single dictionary. if there are common keys, the values should be added toghther.

In [36]:
def merge_dictionaries(dict1, dict2):
  merged_dict = dict1.copy()
  for key, value in dict2.items():
    if key in merged_dict:
      merged_dict[key] += value
    else:
      merged_dict
      return merged_dict

In [38]:
merge_dictionaries({"a": 1, "b": 2}, {"b": 3, "c": 4})

{'a': 1, 'b': 5}

Q33.write  a code to access a value in a nested dictionary. the function should take the dictionary and  a list of keys as input, and return the corresponding value. if any of the keys do not exist in the dictionary, the function should return none.

In [40]:
def access_nested_value(dictionary, keys):
  try:
    for key in keys:
      dictionary = dictionary[key]
    return dictionary
  except KeyError:
    return None
nested_dict = {"a": {"b": {"c": 10  }}}
keys = ["a", "b", "c"]
value = access_nested_value(nested_dict, keys)
print(value)

keys = ["a", "b", "d"]
value = access_nested_value(nested_dict, keys)
print(value)

10
None

Q34.write a code that takes a dictionary as  input and retruns a sorted version of it base on the values.you can choose whether return non.

In [41]:


def sort_dictionary_by_value(dictionary):
  sorted_items = sorted(dictionary.items(), key=lambda item: item[1])
  return dict(sorted_items)

In [44]:
sort_dictionary_by_value({"a": 2, "b": 1, "c": 3})

{'b': 1, 'a': 2, 'c': 3}

Q35. write a code that inverts a dictionary, swapping keys and values by storing the keys as list in the inverted dictionary.

In [46]:
def invert_dic_by_swaping(dictionary):
  inverted_dict = {}
  for key, value in dictionary.items():
    if value in inverted_dict:
      inverted_dict[value].append(key)
    else:
      inverted_dict[value] = [key]
  return inverted_dict

  my_dict = {"a": 1, "b": 2, "c": 1, "d": 3}
  inverted_dict = invert_dic_by_swaping(my_dict)
  print(inverted_dict)

In [47]:
invert_dic_by_swaping({"a": 1, "b": 2, "c": 1, "d": 3})

{1: ['a', 'c'], 2: ['b'], 3: ['d']}